/* 
    Document   : style
    Created on : Nov 23, 2011, 7:10:59 PM
    Author     : Kieran
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


body {
    margin: 0 auto;
}
#header {
    
}
